
/*prueba comentario */

.container-fluid{
    background-color:#051e54;
    padding: 1%;
}

.navbar .navbar-brand:hover{
    color: white;
}
/* Texto en blanco */
.navbar .navbar-brand {
    color: white;
    font-size: 2rem;
}


/* Hover en enlaces */
.navbar .nav-link:hover {
    color: #2ac3fd;
}

/* Centrar el menú */
.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.container-fluid {
    position: fixed; /* Hace que el menú sea estático */
    top: 0; /* Fija el menú en la parte superior */
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la página */
    color: white;
    padding: 10px 20px;
    z-index: 1000;
}

body{
    background-color: #333;
}

.main-container{
    background-color: #ffffff; 
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;  
    margin-bottom: 0;
}


.footer:hover{
    font-weight: bold;
    text-decoration: underline;
}
/* Card de Index */
.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/*Contenedores de Imagenes*/
/*Index*/
.container-image{
    background-image: url("/assets/media/fastboxWOMEN2.png");
    height: 400px;
    margin-top: 2.5%;
}

/*Quienes somos BG*/
.image-bg-qs{
    background-image: url("/assets/media/quienes\ somos.jpg");
    height: 400px;
}

/*Enlaces rapidos de inicio*/
.enlace-r {
    text-decoration: none;
    color: rgb(85, 85, 85);
    display: block;
    font-size: 10px;
}

.enlace-r:hover {
    color: black;
    text-decoration: underline;
}

.icon-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.icon-button i {
    font-size: 1.5rem;
    color: white;
}

.icon-button:focus {
    outline: none;
    box-shadow: none;
}
